<h1>Editando atleta</h1>

<%= render "form", player: @player %>

<br>

<div>
  <%= link_to "Show this player", @player, class: "btn btn-secondary" %> &emsp;
  <%= link_to "Back to players", players_path, class: "btn btn-secondary"  %>

  <br/><br/>
</div>